Source/code/ColorGame.SL/Service References/ColorGameService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Rank" type="xs:int" />
      <xs:element minOccurs="0" name="Score" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserScore" nillable="true" type="tns:UserScore" />
  <xs:complexType name="ArrayOfUserScore">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserScore" nillable="true" type="tns:UserScore" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserScore" nillable="true" type="tns:ArrayOfUserScore" />
</xs:schema>