Source/code/ColorGame.SL/Service References/GameScoreService/ScoreService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/Service/ScoreService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Save">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" minOccurs="0" name="userScore" nillable="true" type="q1:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRankersWithCurrentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" minOccurs="0" name="userScore" nillable="true" type="q2:UserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTopRankersWithCurrentUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ColorGame.DataLayer.Model" minOccurs="0" name="GetTopRankersWithCurrentUserResult" nillable="true" type="q3:ArrayOfUserScore" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>